header{
    background-color: #009DAE;
}
nav 
{
    background-color: #71DFE7;
}

section{
    background-color: #C2FFF9;
    grid-column: 1/4;
}

aside{
    background-color: #C2FFF9;
    grid-column: 4/5;
}

footer{
    background-color: #FFE652;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

